In [6]:
import numpy as np
import pandas as pd

movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

movies.head()

movies = movies.merge(credits,on='title')

movies.shape

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

movies.head()

movies.dropna(inplace=True)

movies.head()

movies.isnull().sum()

movies.duplicated().sum()

import ast

#ast.literal_eval is used to convert string into list and we can then run loop as list has indices

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

movies.dropna(inplace=True)


import warnings
warnings.filterwarnings('ignore')

movies['genres'].apply(convert)

movies['genres']=movies['genres'].apply(convert)

movies.head()

movies['keywords']=movies['keywords'].apply(convert)

movies.head()

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

movies['crew']=movies['crew'].apply(fetch_director)

movies.head()

def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L 

movies['cast'] = movies['cast'].apply(convert)
movies.head()

#now overview column is a string and we want to concatenate overview, genre, cast, crew into one column i.e. tags so we need to convert overview col to list 

movies['overview']=movies['overview'].apply(lambda x:x.split())

movies.head()

#now we need to apply one transition that is we need to remove all the spaces from all the columns as for example there is a word Sam Worington and there is another word Sam Mendes now if we dont remove the spaces the tags generated will be Sam, Warington, sam, mendes now if somebody looks for sam the model get confused that which same to show therefore we need to remove spaces and make samWarington as one tag and samMendes as another

movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

movies.head()

movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

movies.head()

new_df = movies[['movie_id','title', 'tags']]

new_df.head()

#now we are making this tags column as strings

new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

new_df

new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."